<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoveTitleLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF53A0071D13E8C0003756BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF53A0201D13E8C0003756BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF53A02B1D13E8C0003756BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
